@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-background: #fff;
  --color-text: #6b6375;
  --color-text-heading: #08060d;
  --color-border: #e5e4e7;
  --color-code-bg: #f4f3ec;
}
